@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  line-height: 1.4;
  color: black;
  background-color: transparent;
}

body {
  background-color: white;
}

button, img {
  display: block;
}

button:hover {
  background-color: orange;  
}

.task-1 {
  width: 300px;
  margin: 50px auto;
}

.t1-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 15px 0;
}

.t1-button {
  margin: 0 5px 5px 0;
  padding: 8px 25px;
  border: 1px solid gray;
  font-size: 14px;
  color: gray;
}

.t1-selected {
  color: white;
  background-color: gray;
}

.t1-image {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .task-1 {
    width: 620px;
  }

  .t1-proect-list {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .task-1 {
    width: 940px;
  }

  .t1-proect-list {
    column-count: 3;
  }
}

@media (min-width: 1600px) {
  .task-1 {
    width: 1260px;
  }

  .t1-proect-list {
    column-count: 4;
  }
}

.task-2 {
  min-width: 400px;
  max-width: 1200px;
  margin: 50px auto;
}

.t2-toolbar-button {
  display: block;
  margin: 20px 25px 20px auto;
  font-size: 40px;
  color: gray;
}

.t2-cards-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.t2-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 20px 50px;
  background-size: 100% 100%;
  border-radius: 10px;
  box-shadow: 0 10px 10px 5px rgba(0,0,0,0.2);
}

.t2-card-name {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.t2-card-color {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.t2-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto 20px 17px 20px;
}

.t2-card-price {
  font-size: 18px;
  color: #e00000;
}

.t2-card-button {
  padding: 0.5em 1em;
  border: 1px solid #e00000;
  border-radius: 2em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e00000;  
}

.t2-list-view {
  padding: 0 10px 0 20px;
}

.t2-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding: 5px 15px 5px 5px;
  background-color: #f5f5f5;
}

.t2-item-image {
  width: 100px;
  height: 70px;
  background-size: 100% auto;
  background-position: left 0 top -25px;
}

.t2-item-name {
  font-size: 24px;
  text-transform: uppercase;
}

.t2-item-color {
  font-size: 12px;
}

.t2-item-price {
  font-size: 18px;
  color: #e00000;
}

.t2-item-button {
  padding: 0.5em 1em;
  border: 1px solid #e00000;
  border-radius: 2em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e00000;  
}